@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   @font-face {
      font-family: 'Dana';
      src:
         local('Dana'),
         url('/fonts/Dana/woff2/DanaFaNum-Regular.woff2') format('woff2');
      font-display: swap;
   }
   @font-face {
      font-family: 'Dana Medium';
      src:
         local('Dana Medium'),
         url('/fonts/Dana/woff2/DanaFaNum-Medium.woff2') format('woff2');
      font-display: swap;
   }

   @font-face {
      font-family: 'Dana DemiBold';
      src: url('/fonts/Dana/woff2/DanaFaNum-DemiBold.woff2') format('woff2');
      font-display: swap;
   }
   @font-face {
      font-family: 'Morabba Light';
      src: url('/fonts/Morabba/woff2/Morabba-Light.woff2') format('woff2');
      font-display: swap;
   }
   @font-face {
      font-family: 'Morabba Medium';
      src: url('/fonts/Morabba/woff2/Morabba-Medium.woff2') format('woff2');
      font-display: swap;
   }

   @font-face {
      font-family: 'Morabba Bold';
      src: url('/fonts/Morabba/woff2/Morabba-Bold.woff2') format('woff2');
      font-display: swap;
   }
}

@layer components {
   .successDiv {
      animation: myAnimation 3s ease-in;
   }
   @keyframes myAnimation {
      0% {
         width: 100%;
      }
      100% {
         width: 0px;
      }
   }
   .myShadow {
      box-shadow: 0px -5px 15px #000000;
   }
   .moduleShadow {
      box-shadow:
         10px 10px 30px #5f2c4260,
         -10px -10px 30px #72405569;
   }
   .shadowMor {
      box-shadow:
         10px 10px 30px #5f2c421e,
         -10px -10px 30px #72405513;
   }
   .shadowMorL {
      box-shadow:
         5px 5px 20px #5f2c421e,
         -5px -5px 20px #72405513;
   }
   .m::placeholder {
      color: #9b7383;
      font-size: 20px;
      font-weight: 100;
      font-family: 'Morabba Light';
   }
}
